{
  "$schema": "https://json.schemastore.org/launchsettings.json",
  "profiles": {
    "http": {
      "commandName": "Project",
      "dotnetRunMessages": true,
      "launchBrowser": false,
      "applicationUrl": "http://localhost:5117",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development",
        "ConnectionStrings__DefaultConnection": "Server=localhost,1433;Database=DigitalMenuDb;User Id=sa;Password=YOUR_PASSWORD_HERE;TrustServerCertificate=True"
      }
    },
    "https": {
      "commandName": "Project",
      "dotnetRunMessages": true,
      "launchBrowser": false,
      "applicationUrl": "https://localhost:7023;http://localhost:5117",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development",
        "ConnectionStrings__DefaultConnection": "Server=localhost,1433;Database=DigitalMenuDb;User Id=sa;Password=YOUR_PASSWORD_HERE;TrustServerCertificate=True"
      }
    }
  }
}
